<!DOCTYPE html>
<html lang="en" data-skin="{{SKIN}}" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <title>{{TITLE}}</title>
{{?META_DESCRIPTION}}
  <link rel="preload" href="../shared/css/fonts/material-symbols-outlined.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="stylesheet" href="../shared/css/material-symbols.css" />
  <link rel="stylesheet" href="../shared/css/tokens.css" />
  <link rel="stylesheet" href="../shared/css/base.css" />
  <link id="skinStylesheet" rel="stylesheet" href="../shared/css/skins/{{SKIN}}.css" />
  <link rel="stylesheet" href="../shared/css/chrome.css" />
  <link rel="stylesheet" href="../shared/css/components.css" />
{{?PER_REPO_STYLESHEETS}}
  <!-- end:skeleton -->
