<!doctype html>
<html lang="en" data-skin="matte-dark" data-theme="dark">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <title>{{TITLE}}</title>
{{ICON_LINK}}
{{?STRUCTURED_DATA}}
  <link rel="preload" href="../shared/css/fonts/material-symbols-outlined.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="stylesheet" href="../shared/css/material-symbols.css" />
  <link rel="stylesheet" href="../shared/css/base.css" />
{{?PER_REPO_STYLESHEETS}}
  <link rel="stylesheet" id="skinStylesheet" href="../shared/css/skins/matte-dark.css" />
  <link rel="stylesheet" href="../shared/css/chat-orb.css" />
  <link rel="stylesheet" href="../shared/css/demo-mode.css" />
{{?MANIFEST_LINK}}
{{?THEME_COLOR_META}}
  <!-- end:skeleton -->
